body {
  background-image: url("img.jpg");
}

.title {
  color: #000000;
}


div.break  {
  border-bottom-style: solid;
}
            
              
div.g{
  float:left;
  width: 50%; 
  
  
}

div.h{
  float:right;
  width: 50%; 
 
  
  
}

div.presentation{
    float:left;
    width:100%;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
}


div.a{
  float:left;
  width: 33%; 
  word-wrap: break-word;
  
}

div.b{
  float:left;
  width: 33%;
  word-wrap: break-word;
}

div.c{
  float:right;
  width: 33%;
}

div.d{
  float:left;
  width: 33%;
}


div.e{
  float:left;
  width: 33%;
}

div.f{
  float:right;
  width: 33%;
}


.circleBar {
  margin-top: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.circleBar .round {
  min-height: 255px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 0px;
}
.circleBar .round strong {
  position: absolute;
  top: 50%;
  left: 51%;
  margin-top: -80px;
  transform: translate(-50%);
  font-size: 40px;
  color: #000000;
  font-weight: 100;
}



